button {
    background-color: #33a0ff;
    color: #ffffff;
}

.input-redeem {
    color: #ffffff;
    background-color: #33a0ff;
    margin-left: -5px;
    padding: 5px;
    border: 2px solid #f1f3f4; 
    border-left: none;
    font-weight: lighter;
}

input {
    font-size: 10px;
}

.input-voucher {
    display: inline-block;
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid #f1f3f4;
    outline: none;
}

.input-voucher-lg {
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #f1f3f4;
    outline: none;
}